#userContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#userPic {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 40px;
    border-radius: 20px;
}

#userName {
    padding: 0 10px;
}